@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.welcome {
  margin: 0; /* Elimina el margen por defecto del body */
  padding: 0; /* Elimina el padding por defecto del body */
  background-image: url("/welcome.webp");
  background-size: cover; /* Ajusta la imagen para cubrir todo el body */
  background-position: center; /* Centra la imagen en el body */
  background-repeat: repeat;
}

.login {
  margin: 0; /* Elimina el margen por defecto del body */
  padding: 0; /* Elimina el padding por defecto del body */
  background-image: url("/login.webp");
  background-size: cover; /* Ajusta la imagen para cubrir todo el body */
  background-position: center; /* Centra la imagen en el body */
  background-repeat: repeat;
}

.outro {
  margin: 0; /* Elimina el margen por defecto del body */
  padding: 0; /* Elimina el padding por defecto del body */
  background-image: url("/outro.webp");
  background-size: cover; /* Ajusta la imagen para cubrir todo el body */
  background-position: center; /* Centra la imagen en el body */
  background-repeat: repeat;
}

.scale-checkbox {
  transform: scale(3); /* Cambia este valor para ajustar el tamaño */
  width: 26px;
  height: 26px;
}

body {
  margin: 0; /* Elimina el margen por defecto del body */
  padding: 0; /* Elimina el padding por defecto del body */
  background-image: url("/bg.webp");
  background-size: cover; /* Ajusta la imagen para cubrir todo el body */
  background-position: center; /* Centra la imagen en el body */
  background-repeat: repeat;
}
